{% extends 'pixel/base.html' %}

{% block content %}
<div class="content">
    <img src="static/pixel/img/OqEmqfhwDcg.jpg">
		<h1>Лучшие пиксельные игры</h1>
		<p>

					Почему же пиксели не теряют актуальности в эпоху дорогих проектов с фотореалистичной картинкой? Причин этому несколько.
					Во-первых, разработка игры с пиксельной графикой на РС стоит относительно недорого, а в распоряжении игроделов находится множество бесплатных или дешевых движков, с помощью которых можно быстро создать проект в любом жанре, причем даже не владея в совершенстве навыками программирования.
					Во-вторых, часто разработчики, особенно в сегменте инди (т.е. независимых игр), пытаются сыграть на чувстве ностальгии геймеров, заставших эпоху восьми- и шестнадцатибитных консолей.
					Наконец, в-третьих, грамотное использование пиксель-арта может сделать игру настоящим визуальным шедевром, даже без использования продвинутых графических технологий.
					Для многих геймеров графика – не самое главное: на первый план они ставят сюжет, наличие интересных геймплейных механик, эмоции и впечатления, которые способна дать игра.
		</p>
		<div class="wrapper">
			{% for j in janrs %}
				<h2>{{j.name}}</h2>
				{% for g in games %}
					{% if g.janr_id == j.pk and g.pixel %}
						<h3>{{g.title}}</h3>
						<img src="{{g.photo.url}}">
						<p>{{g.content}}</p>
						<div class="link">
							<a href={{g.buy}} target="_blank">Купить</a>
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
</div>

{% endblock %}